@using Repositories.DataObject
@model List<DelfiFeedDataObject>

<h1>Feeds</h1>
@foreach (var feed in Model)
{
    <div style="margin-left:10px; margin-bottom:30px;border-color:black; border:dashed; padding:10px">
        <p>Title: @feed.Title</p>
        <a href="@feed.Link">Link</a><br>
        <img src="@feed.PictureUrl.AbsoluteUri">
        <p>Publich date: @feed.PublishDate.ToShortDateString()</p>
        <p>Description: @feed.Description</p>
        <p>Comments: @feed.CommentCount</p>
    </div>
}
